#landing{
	width: 100%;
	height: 100%;
	z-index: 1;
}
#entrada{
    z-index: 2;
    left: 50%;
    top: 50%;
	align-self: center;
}

#cabecera{
	text-align:center;
	z-index: 1;
	background-image:url(../images/baner.png);
	background-repeat: no-repeat;
	align-self: center;
	height: 200px;
	border-radius: 39px 39px 39px 39px;
	box-shadow: 6px 20px 10px black;
}
#menu{
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

#pie{
	font-family: handel_gothic;
	color: azure;
	text-align: center;
}


@font-face{
	font-family: handel_gothic;
	src: url("Handel Gothic D Bold.otf") format('opentype');
}
.contenedorIndex{
	background-image: url(/images/pic3694903.jpg);
	width: 1350px;
	height: 720px;
	margin: auto;
	display: grid;
	justify-items: center;
	justify-content: center;
	align-self: center;
	align-items: center;
	border-radius: 39px 39px 39px 39px;
	
}

.gridImperios{
	font-family: handel_gothic;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-template-rows: repeat(auto-fit,minmax(100px, auto));
	gap: 20px 40px;
	justify-items: center;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	box-shadow: 10px 10px 10px   inset,
		20px 20px 10px 10px;
	border-radius: 39px 39px 39px 39px;
}
.gridEntrada{
	min-width: 200px;
	font-family: handel_gothic;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, auto));
	grid-template-rows: repeat(auto-fill,minmax(100px, auto));
	gap: 20px 40px;
	justify-items: center;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	box-shadow: 10px 10px 10px   inset,
	20px 20px 10px 10px;
border-radius: 39px 39px 39px 39px;

}
.Intro{
	font-display: handel_gothic;
	color: azure;
	border-radius: 39px 39px 39px 39px;
	display: grid;
	margin: auto;
	column-gap: .5rem;
	grid-row-gap: .5rem;
	align-content: center;
	box-shadow:	20px 20px 10px 10px black;
	border-radius: 39px 39px 39px 39px;
}
.IntroFotoa{
	border-radius: 39px 39px 39px 39px;
	box-shadow: 20px 20px 10px 10px;
	display: grid;
	margin: auto;
	column-gap: .5rem;
	grid-row-gap: .5rem;
	align-content: center;
	background-image: url(/images/hacan1.jpg);
	width: 641px;
	height: 363px;

}
.IntroFotoa img{
	width: 100%;
}
.IntroFotob{
	border-radius: 39px 39px 39px 39px;
	box-shadow: 20px 20px 10px 10px;
	display: grid;
	margin: auto;
	column-gap: .5rem;
	grid-row-gap: .5rem;
	align-content: center;
	background-image: url(/images/guerra.png);
	width: 640px;
	height: 400px;
}
.IntroFotob img{
	width: 100%;
}
.gridCronicas{	
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 100%;
	gap: 15px;
	grid-row-gap: .5rem;
	justify-items: center;
	justify-content: center;
	align-self: center;
	align-items: center;
	border-radius: 39px 39px 39px 39px;
}
.introCronicas{
	gap: 15px;
	justify-items: center;
	justify-content: center;
	align-self: center;
	align-items: center;
	box-shadow: 10px 10px 10px  black inset,
		20px 20px 10px 10px black;
	border-radius: 39px 39px 39px 39px;
	text-align: center;
	font-family: handel_gothic;
	color: azure;
}
.interior{
	font-display: handel_gothic;
	color: azure;
	border-radius: 10px 0px 39px 22px;
	justify-content: flex-end;
}

.ejercito{
	background-color: rgba(28,80,142,0.27);
	text-align: center;
	justify-content: center;
	color: azure;
	border-radius: 39px 39px 39px 39px;
}

.galeria{
	width:100%;
	margin: auto;
	display:grid; 
	grid-template-columns: repeat(3, 1fr);
	column-gap: .5rem;
	row-gap: .5rem;
	box-shadow: 10px 10px 10px   inset,
		20px 20px 10px 10px;
	
}
.imagen{
	width :100%;
}
.imagen img{
	width: 100%;
}
.flexCuriosidades{
	font-display: handel_gothic;
	display: flex;
	flex-direction: column-reverse;
    justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;

}
.contenedorCuriosidades{
	display: flex;
	background-color: rgba(93, 145, 209, 0.534);
	gap: 15px;
	flex-direction: column;
	align-items: center;
	align-self: center;
	align-content: center;

}
.objeto {
align-self:flex-start;
}
#columnas{
	column-count:2;
	column-gap:20px;
	column-rule:4px groove rgb(255, 254, 254);
 }
#nave{
	transition-duration: 3s;
	animation: animacion_nave 3s ease-out 0.5s infinite normal backwards;
	transform: scale(1,1.5);
	
 }
 
 #nave:hover{
	transform: scale(1 0.5);

 }

@keyframes animacion_nave{
	0%{
		transform: rotate(0deg);
		
	transform: translate(25%, 0px);
	}
	50%{
		transform: rotate(90deg);
		
	transform: translate(50%, 0px);
	}
	100%{
		transform: rotate(0deg);
		
	transform: translate(25%, 0px);
	}
}
html{
	background: rgb(16,17,28);
	background: radial-gradient(circle, rgba(16,17,28,1) 88%, rgba(70,88,252,1) 98%);
	padding: 4%;
}
a{
	text-decoration:none;
	color: white;
	
}

h1{
	color: azure;
	font-family: handel_gothic;
	font-size: 48px;
	margin: 0 auto;
	align-self: center;
}
h3{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}
h2{
	font-family: handel_gothic;
	color: azure;
	text-align: center;
}
	
p{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}

li{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
	justify-items: center;
	justify-content: center;
	align-self: center;
	align-items: center;
}
nav Ol {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
	align-self: center;
	align-items: center;
	
  }
nav #menu{
  padding-left: 4px;
  font-family: handel_gothic;

}

nav #menu a {
  color: white;
  text-decoration: none;
  padding: .5em 1em;
}
nav #menu a:hover {
  background:#7C5B5C;
  color: white;
}
@media (min-width:100px){
	.contenedorIndex{
		width: 100px;
	}
	.flexCuriosidades{
		width: 100%;
	}
	.gridCronicas{
	grid-template-columns: repeat(1, 1fr);
	}
	.gridEntrada{
	grid-template-columns: repeat(1, 1fr);
	}
	}
	.gridImperios{
	grid-template-columns: repeat(1, 1fr);
	}


@media (min-width:520px){
	.contenedorIndex{
		width: 520px;
	}
	
	.gridCronicas{
		grid-template-columns: repeat(2, 1fr);
	}
	.gridEntrada{
		grid-template-columns: repeat(2, 1fr);
		}
		.gridImperios{
		grid-template-columns: repeat(2, 1fr);
		}
}
@media (min-width:720px){
	.contenedorIndex{
		width: 720px;
	}
	.gridCronicas{
		grid-template-columns:
			repeat(3, 1fr);
	}.gridEntrada{
		grid-template-columns: repeat(2, 1fr);
		}
		.gridImperios{
		grid-template-columns: repeat(3, 1fr);
		}
}
@media (min-width:1024px){
	.contenedorIndex{
		width: auto;
	}
	.gridCronicas{
		grid-template-columns:
			repeat(4, 1fr);
	}.gridEntrada{
		grid-template-columns: repeat(2, 1fr);
		}
		.gridImperios{
		grid-template-columns: repeat(4, 1fr);
		}
}

