#landing{
	width: 100%;
	height: 100%;
	
}
#entrada{
    position: center;
    z-index: 2;
    left: 50%;
    top: 50%;
	
}
#youtube{
	align-self: baseline;
	
}
#cabecera{
	text-align: center;
	left: 40%;
	z-index: 1;
}
#menu{
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}
#articulo{
	width: 50%;
	border: 3px white;
	border-radius: 10px 0px 39px 22px;
	z-index: 1;
	background-color:black;
	opacity: 0.6;
	float: left;
	box-shadow: 6px 20px 10px black;
}
#articulo2{
	border: 3px white;
	border-radius: 10px 0px 39px 22px;
	z-index: 1;
	background-color:black;
	opacity: 0.6;
	float: right;
	box-shadow: 6px 20px 10px black;
}
#pie{
	font-family: handel_gothic;
	color: azure;
	text-align: center;
}
#imagen1{
	z-index: 2;
	border: 3px white;
	border-radius: 10px 0px 39px 22px;
	box-shadow: 6px 20px 10px black;
	float:inherit;
}

@font-face{
	font-family: handel_gothic;
	src: url("Handel Gothic D Bold.otf") format('opentype');
}
.gridImperios{
	font-family: handel_gothic;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit,minmax(100px, 1fr));
	gap: 20px 40px;
	justify-content: center;
	align-content: center;
	box-shadow: 10px 10px 10px   inset,
		20px 20px 10px 10px;
}
.gridEntrada{
	font-display: handel_gothic;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(45%, auto));
	grid-template-rows: repeat(auto-fit,minmax(auto, auto));
	gap: 20px 40px;
	justify-content: center;
	align-content: center;
	border-radius: 10px 15px 39px 0px;
	box-shadow: 20px 20px 10px 10px;
}
.Intro{
	font-display: handel_gothic;
	color: azure;
	border-radius: 10px 0px 39px 22px;
	justify-content: flex-end;
}
.ejercito{
	background-color: rgba(28,80,142,0.27);
	text-align: center;
	justify-content: center;
	color: azure;
}
html{
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 76%, rgba(83,48,139,1) 90%, rgba(0,212,255,1) 100%);
}
a{
	text-decoration:none;
	color: white;
	
}

h1{
	color: azure;
	font-family: handel_gothic;
	font-size: 48px;
}
h3{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}
h2{
	font-family: handel_gothic;
	color: azure;
	text-align: center;
}
	
p{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}


nav #menu{
  padding-left: 4px;
  font-family: handel_gothic;

}

nav #menu a {
  color: white;
  text-decoration: none;
  padding: .5em 1em;
}
nav #menu a:hover {
  background:#7C5B5C;
  color: white;
}
@media screen and (min-device-width:480px) and (max-device-width:480px){
	.nav ul{
		display: flex;
		justify-content: space-around;
	}
	.mapa{
	display: flex;
		justify-content: space-around;
	}
	.youtube {
	display: flex;
	justify-content: flex-end;
	}
	.landing{
		width: auto;
		height: auto;
	}
}

