#landing{
	width: 100%;
	height: 100%;
	
}
#entrada{
    position: center;
    z-index: 2;
    left: 50%;
    top: 50%;
	
}
#youtube{
	align-self: baseline;
	
}
#cabecera{
	text-align:center;
	z-index: 1;
	background-image:url(../images/baner.png);
	background-repeat: no-repeat;
	align-self: center;
	height: 200px;
	border-radius: 39px 39px 39px 39px;
	box-shadow: 6px 20px 10px black;
}
#menu{
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}
#articulo{
	width: 50%;
	border: 3px white;
	border-radius: 10px 0px 39px 22px;
	z-index: 1;
	background-color:black;
	opacity: 0.6;
	float: left;
	box-shadow: 6px 20px 10px black;
}
#articulo2{
	border: 3px white;
	border-radius: 10px 0px 39px 22px;
	z-index: 1;
	background-color:black;
	opacity: 0.6;
	float: right;
	box-shadow: 6px 20px 10px black;
}
#pie{
	font-family: handel_gothic;
	color: azure;
	text-align: center;
}
#imagen1{
	z-index: 2;
	border: 3px white;
	border-radius: 10px 0px 39px 22px;
	box-shadow: 6px 20px 10px black;
	float:inherit;
}

@font-face{
	font-family: handel_gothic;
	src: url("Handel Gothic D Bold.otf") format('opentype');
}
.gridImperios{
	font-family: handel_gothic;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-template-rows: repeat(auto-fit,minmax(100px, auto));
	gap: 20px 40px;
	justify-items: center;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	box-shadow: 10px 10px 10px   inset,
		20px 20px 10px 10px;
}
.gridEntrada{
	font-display: handel_gothic;
	display: grid;
	grid-template-columns: 20%, 1fr;
	grid-template-rows: 20%, 1fr;
	gap: 20px 40px;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	border-radius: 10px 15px 39px 0px;
	box-shadow: 20px 20px 10px 10px;
}
.Intro{
	font-display: handel_gothic;
	color: azure;
	border-radius: 10px 0px 39px 22px;
	
}
.gridCronicas{	
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 30%, 1fr;
	column-gap: .5rem;
	grid-row-gap: .5rem;
	align-content: center;
}
.interior{
	font-display: handel_gothic;
	color: azure;
	border-radius: 10px 0px 39px 22px;
	justify-content: flex-end;
}

.ejercito{
	background-color: rgba(28,80,142,0.27);
	text-align: center;
	justify-content: center;
	color: azure;
}
.contenedorCronicas{
	font-display: handel_gothic;
	color: azure;
	border-radius: 10px 0px 39px 22px;
	display: grid;
	grid-template-columns: 45% 1fr;
	margin: auto;
	column-gap: normal;
	align-content: center;
	text-align: center;
	}
.galeria{
	width:100%;
	margin: auto;
	display:grid; 
	grid-template-columns: repeat(3, 1fr);
	column-gap: .5rem;
	row-gap: .5rem;
}
.imagen{
	width :100%;
}
.imagen img{
	width: 100%;
}
.flexCuriosidades{
	font-display: handel_gothic;
	display: flex;
	flex-wrap:nowrap;
	gap: 5px;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-self: center;

}
.contenedorCuriosidades{
	display: flex;
	background-color: rgba(93, 145, 209, 0.534);
	gap: 15px;
	flex-direction: column;
	align-items: stretch;
	align-self: center;
}
.objeto {
align-self:flex-start;
}

#nave{
	transition-duration: 3s;
	animation: animacion_nave 3s ease-out 0.5s infinite normal backwards;
 }
 
 #nave:hover{
	position: static;
	left:250px;
 }

@keyframes animacion_nave{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
html{
	background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 76%, rgba(83,48,139,1) 90%, rgba(0,212,255,1) 100%);
	padding: 8%;
}
a{
	text-decoration:none;
	color: white;
	
}

h1{
	color: azure;
	font-family: handel_gothic;
	font-size: 48px;
	
}
h3{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}
h2{
	font-family: handel_gothic;
	color: azure;
	text-align: center;
}
	
p{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}
ol{
	align-self: center;
	text-align: center;
}
li{
	font-family: handel_gothic;
	color: azure;
	font-size: medium;
}

nav #menu{
  padding-left: 4px;
  font-family: handel_gothic;

}

nav #menu a {
  color: white;
  text-decoration: none;
  padding: .5em 1em;
}
nav #menu a:hover {
  background:#7C5B5C;
  color: white;
}
@media (min-width:100px){
	.gridCronicas{
	grid-template-columns: repeat(1, 1fr);
	}
	.gridEntrada{
	grid-template-columns: repeat(1, 1fr);
	}
	.gridImperios{
	grid-template-columns: repeat(1, 1fr);
	}}


@media (min-width:520px){
	.gridCronicas{
		grid-template-columns: repeat(2, 1fr);
	}
	.gridEntrada{
		grid-template-columns: repeat(2, 1fr);
		}
		.gridImperios{
		grid-template-columns: repeat(2, 1fr);
		}
}
@media (min-width:720px){
	.gridCronicas{
		grid-template-columns:
			repeat(3, 1fr);
	}.gridEntrada{
		grid-template-columns: repeat(2, 1fr);
		}
		.gridImperios{
		grid-template-columns: repeat(3, 1fr);
		}
}
@media (min-width:1024px){
	.gridCronicas{
		grid-template-columns:
			repeat(4, 1fr);
	}.gridEntrada{
		grid-template-columns: repeat(2, 1fr);
		}
		.gridImperios{
		grid-template-columns: repeat(4, 1fr);
		}
}

